/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard {
  background-color: #f0f0f0;
  padding: 10px;
}


